body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(115deg, #f8f0f4, #e6cbd9); /* Gradient background */
  background-color: #f8f5f8; /* Soft lavender background */
  margin: 0;
  padding: 0;
}

.App-header {
  background: linear-gradient(135deg, #d7a8b8, #b99db6); /* Gradient header */
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  Font-Size: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align horizontally */
  margin-bottom: 20px;
  padding: 0 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 25px;
  border: 1px solid #d7a8b8; /* Light purple border */
  border-radius: 20px; /* Increased border radius */
  margin-right: 10px;
  margin-left: 200px;
}

.input-container button {
  margin-right: 200px;
  padding: 10px 16px; /* Adjusted padding */
  background-color: #d7a8b8; /* Light purple button */
  color: #f8f2f2;
  border: none;
  border-radius: 20px; /* Increased border radius */
  cursor: pointer;
  font-size: 26px;
}

.input-container button:hover {
  background-color: #c2859a; /* Darker shade on hover */
}

.todo-list {
  padding: 20px;
}

.todo {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 23px;
}

.todo.completed {
  background-color: #f0f0f0; /* Light gray for completed tasks */
}

.todo span {
  flex: 1;
  cursor: pointer;
}

.todo input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.todo button {
  padding: 6px 12px;
  background-color: #cf8282; /* Red color for delete button */
  color: #ffffff;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: 20px;
}

.todo button:hover {
  background-color: #a75f5f; /* Darker shade on hover */
}

.todo input[type="color"] {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
